@model IEnumerable<Clinic.Domain.Models.DTOs.Medic.MedicDisplayPendingForUpdateDTO>

<div class="card-header">
    <h4>Pendientes de Actualización</h4>
</div>

<div class="card-body">
    <div class="row">
        @foreach (var med in Model)
        {
            <div class="col-sm-3">
                <div class="card card-light">
                    <div class="card-header">
                        <h5 class="card-title">@med.FullName</h5>
                    </div>
                    <div class="card-body">
                        <p>Identificación: @med.Identification</p>
                        <div align="center">
                            <a asp-area="Client" asp-controller="Medic" asp-action="PendingUpdate" asp-route-id="@med.EmployeeId" class="btn btn-primary">Actualizar Información</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
