@model Clinic.Domain.Models.ViewModels.Client.Medic.MedicIndexViewModel
@{
    ViewData["Title"] = "Médicos";
}

@if (TempData["MedicMessage"] != null)
{
    <div class="alert alert-dismissible fade show alert-success mb-3" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="alert-heading"><i class="fas fa-check"></i> Exito!</h4>
        <p class="mb-0">@TempData["MedicMessage"].ToString()</p>
    </div>
}

@if (Model.MedicsPendingForUpdate != null)
{
    <div class="card card-warning" id="vwPendingUpdate">
        @{ await Html.RenderPartialAsync("_MedicPendingUpdatePartial", Model.MedicsPendingForUpdate); }
    </div>
}

<div class="card card-blue">
    <div class="card-header">
        <h4>Gestionar</h4>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-12">
                <form method="get" class="row" id="frmSearch">
                    @Html.AntiForgeryToken()
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label asp-for="QueryFilters.Identification"></label>
                            <input asp-for="QueryFilters.Identification" id="identification" class="form-control" />
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label asp-for="MedicSpecialties"></label>
                            @Html.DropDownList(nameof(Model.MedicSpecialties), Model.MedicSpecialties, "Todos", new { @class = "form-control", id = "medicalSpecialty" })
                        </div>
                    </div>

                    <div class="col-sm-3 mb-3">
                        <input type="submit" value="Buscar" class="btn btn-outline-primary btn-block form-control" />
                    </div>
                </form>
            </div>
            <div class="col-sm-12" id="tblMedics">
                @{ await Html.RenderPartialAsync("_MedicPagedTablePartial", Model); }
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/js/medic.js"></script>
}
